<nav class="navbar navbar-expand-md h5  bg-dark">
  <div class="container-fluid">
    <div>
      <img src="https://image.similarpng.com/very-thumbnail/2021/06/Chef-logo-template-isoated-on-transparent-background-PNG.png" width="50" height="50" alt="">
    </div>
    <div><h2>Aniyan Samayal</h2></div>
    <div class="collapse navbar-collapse justify-content-end" id="NavDropdown" style="color: white !important;">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a routerLink="/cart" class="nav-link">Orders</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login"><button class="btn bg-danger">Login</button></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>

<footer>
<div class="row bg-dark text-center p-3">
  <div class="col-md-12">
      <h5 class="text-light">Aniyan Samyal <span>© 2024 Bundl Technologies Pvt. Ltd</span></h5>
      
  </div>
 
</div>
</footer>
